
<<<<<<< HEAD
=======
$post-bgc: #bfbfbf;

  .post {
    background: $post-bgc;
    border-bottom: 3px solid #333;
    max-width: 80%;
    h2 {
      text-align: center;
    }
    img {
      width: 40%;
      margin: 0 , auto;
      margin: 5px 5%; 
    }
    p {
      text-align: left;
      margin: 0 0 0 5px;

    }
  }
>>>>>>> d43514004dfa3f570eb69db405cd8ee7ad1f25e4
